<h1>{{lening}}</h1>

<div class="contaitter">
<div class="lend_text">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quos asperiores nihil adipisci voluptatibus veritatis praesentium perspiciatis repellendus sed voluptates, nesciunt, in consequuntur natus atque aut, debitis totam vel. Maiores?</p>

</div>
<div class="img_tree"></div>


<div>
  <a routerLink="/category/Деревья" routerLinkActive="active">Деревья</a>
  <a routerLink="/category/" routerLinkActive="active">Домашние</a>
  <a routerLink="/category/" routerLinkActive="active">Уличные</a>
  <a routerLink="/category/" routerLinkActive="active">Садовые</a>
</div>

<!-- <plant-part></plant-part> -->