<div class="container_1">
<div class="gg1">
<h2>{{ItemPlants.name}}</h2>
<h2>{{ItemPlants.category}}</h2>
</div>
<div class="gg2">
    <img src="{{ItemPlants.images[0]}}" alt="plant" width="500">
    <div class="gg22">
        <img src="{{ItemPlants.images[1]}}" alt="" width="250">
        <img src="{{ItemPlants.images[2]}}" alt=""width="250">
    </div>

<p>{{ItemPlants.description || "нет инфы"}}</p>
</div>
<div class="gg3">
<p>Температура: {{ItemPlants.temperature || "нет инфы"}}</p>
<p>Солнце: {{ItemPlants.sunlight || "нет инфы"}}</p>
<p>Вода: {{ItemPlants.watering || "нет инфы"}}</p>
</div>
<button (click)="onDeletePlant(ItemPlants._id)">Delete</button>
</div>