*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 450px;
  border-radius: 10px;

  background-color: lightgreen;
}
